#head2{
    display: inline-block;
}
#a{
    text-decoration: underline;
    color: rgb(255, 230, 0);
}
body{
    padding-left: 40%;
    justify-content: center;
  background-image: url(https://th.bing.com/th/id/OIP.JRkeWnqyZcCFjbkxadbdUAHaE0?w=280&h=182&c=7&r=0&o=5&pid=1.7);
    /* background-image: url("images/background.jpg"); */
  background-size: cover;
}
#abc{
    background-color: gray;
    border-radius: 5px;
}
#abcd{
    background-color: gray;
    border-radius: 5px;
}